@media only screen {
  html {
    font-size: 0.625em;
    font-family: 'Open Sans', sans-serif;
  }
  body {
    padding: 2rem;
    margin: auto;
  }
  h1 {      
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  h2 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -.15rem;
    margin: 1.5rem 0;
    line-height: 1.2;
  }
  main > div {
    font-size: 1.5rem;
    margin: 3rem 0;
  }
  main > div > div > p:first-child {
    margin-top: 0;
  }
}

@media only screen and (min-width: 600px) {
  h2 {
    column-span: all;
  }
  main > div {
    font-size: 1.7rem;
    column-count: 2;
    column-gap: 4rem;
    orphans: 2;
  }
}

@media only screen and (min-width: 1040px) {
  body {
    padding: 4rem;
    max-width: 1000px;
  }
  h2 {
    font-size: 4rem;
    margin: 2rem 0;
  }
  main > div {
    font-size: 2rem;
    column-gap: 3rem;
    column-count: 3;
  }
}